* {
  margin: 0px;
  padding: 0px;
}

.navbar {
  background-color: #43af12;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}
.link {
  color: #86eef1;
  text-decoration: none;
  font-size: 23px;
}
.logo {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  color: #d6c73b;
}
.q {
  display: flex;
}
.q img {
  border-radius: 30px;
}
