.updat {
  background-color:bisque;
  height: 550px;
}
.for {
  align-content: center;
  padding-top: 15px;
  background-color: bisque;
}
.team {
  margin-top: 200px;
}
.cat {
  margin-left: 200px;
  margin-right: 60px;
}
