:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}
/* body {
  background: var(--mainWhite) !important;
} */
body {
  font-family: sans-serif;
  /* margin: 3rem; */
  /* background-color: #d3cb5c; */
  background-image: url(./images/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}
h1,
h2 {
  color: #333333;
}
.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  box-shadow: 01;
}
.card {
  background-color: white;
  border-radius: 4px;
  border-radius: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 20rem;
}
.actions {
  text-align: right;
}
.model {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% -15rem);
}
.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
}
